@font-face {
  font-family: arabic-reg;
  src: url(/fonts/PlaypenSansArabic-Regular.ttf);
}

@font-face {
  font-family: arabic-bold;
  src: url(/fonts/PlaypenSansArabic-Bold.ttf);
}

@font-face {
  font-family: Kick-font;
  src: url(/fonts/zy-heaven-fs.otf);
}
