@font-face {
  font-family: arabic-reg;
  src: url(../public/fonts/PlaypenSansArabic-Regular.ttf);
}

@font-face {
  font-family: arabic-bold;
  src: url(../public/fonts/PlaypenSansArabic-Bold.ttf);
}
